.address_ul{
	list-style-type: none;
    margin-top: -10px;
    margin-left: 30px !important;
    padding: 0;
    margin-bottom: 30px;
}

.address_ul > .addr_locality{
	font-size:12px;
	text-transform: capitalize;
}

.address_ul > .addr_name{
	font-weight: bold;
	text-transform: uppercase;
}

.add_new_addr{
	cursor: pointer;
}

.new_addr_group{
	display: none;
}
.select_delivery_slot{
	display: block;
}

.error_text{
	color:#ec008c;
}

#ordered_tab tbody tr td{
	width: 100%
}

#thank_you_p strong{
	text-transform: uppercase;
}
