html,
body {
    font-family: 'Lato', sans-serif;

    height: 100%;
    margin: 0;
    padding: 0;

    color: #353535;
    background: #fff;
}

.rotate {
    overflow: hidden;

    -webkit-transition-duration: .4s;
            transition-duration: .4s;
    -webkit-transition-property: -webkit-transform;
            transition-property:         transform;
}

.rotate:hover {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
}

hr {
    height: 1px;

    border: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(221, 221, 221, .75), rgba(0, 0, 0, 0));
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(221, 221, 221, .75), rgba(0, 0, 0, 0));
}

.paddingSides {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.noPaddingSides {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.noPadding {
    padding: 0 !important;
}

.borderAll {
    border: 1px solid #e4e5e6;
}

.noBorder {
    border: 0 !important;
}

input,
select,
option,
button,
textarea {
    transition: all ease .2s;

    outline: 0;
}

input[type=submit]:hover,
button:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

/* Header */

header {
    background: #354458;
}

header > div > .logo > h1 {
    margin: 20px 0;

    color: #fff;
}

header > div > .header-search {
    margin: 21px 0;
}

header div > .header-search > select {
    padding: 8.5px;

    color: #354458;
    border: 0;
    border-radius: 2px 0 0 2px;
    background: rgba(255,255,255,.9);
}

header div > .header-search > select > option {
    color: #354458;
}

header > div > .header-search > input[type=text] {
    width: 340px;
    margin-left: -3px;
    padding: 8px 10px;

    border: 0;
    border-left: 1px solid #ccc;
    background: rgba(255,255,255,.9);
}

header > div > .header-search > button {
    margin-left: -3px;
    padding: 8px 16px;

    color: #fff;
    border: 0;
    border-radius: 0 2px 2px 0;
    background: #0cc;
}

header > div > nav > ul {
    float: right;

    margin: 23px 0;
    padding: 0;

    list-style: none;
}

header > div > nav > ul > li {
    float: left;

    margin-left: 20px;

    color: #fff;
}

header > div > nav > ul > li > img {
    width: auto;
    max-height: 32px;
    margin-right: 5px;

    border-radius: 32px;
}

header > div > nav > ul > li > i {
    margin-left: 5px;
}

header > div > nav > ul > li > a {
    display: block;

    margin: 5px 0;

    text-decoration: none;

    color: #fff;
}

header > div > nav > ul > li > a:hover {
    text-decoration: none;

    color: #fff;
}
/* END Header */

.profile-banner figure {
    position: relative;

    overflow: hidden;

    max-height: 360px;
    margin: 0;
}

.profile-banner figure > img {
    width: 100%;
    height: auto;
    margin-top: -10vw;

    vertical-align: middle;
}

.profile-banner figure > button {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    margin: 5vw 44vw;
    padding: 5px 14px;

    color: rgba(255, 255, 255, .8);
    border: 2px solid rgba(255, 255, 255, .8);
    border-radius: 4px;
    background: transparent;
}

.profile-banner figure > button {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    margin: 5vw 44vw;
    padding: 5px 14px;

    color: rgba(255, 255, 255, .8);
    border: 2px solid rgba(255, 255, 255, .8);
    border-radius: 4px;
    background: transparent;
}

.profile-banner figure > button:hover {
    color: #6d7c90;
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 1);
}

/* END Profile Banner */

.profile-wrapper {
    position: relative;
    z-index: 100;

    margin-top: -10vw;
    margin-bottom: 40px;

    color: #48515a;
    background: rgba(255, 255, 255, .98);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.profile-config {
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 1px solid rgba(225, 225, 225, .6);
}

.profile-contentBlock {
    border-right: 1px solid rgba(225, 225, 225, .6);
}

.profile-header figure {
    position: relative;

    padding: 26px 5px;

    transition: all .3s ease;
    text-align: center;
}

.profile-header figure button {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}

.profile-header figure:hover button {
    font-size: 18px;

    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 64px 40px;

    opacity: 1;
    color: rgba(255, 255, 255, 1);
    border: 0 solid rgba(48, 53, 56, .8);
    border-radius: 0;
    background: rgba(48, 53, 56, .9);
}

.profile-header figure > img {
    width: auto;
    max-height: 100px;
}

.profile-header div > h1 {
    margin: 0 0 10px;

    color: #354458;
}

.profile-header div > p {
    margin: 0 0 10px;
}

.profile-header div > span {
    display: block;

    margin: 0 0 10px;
}

.profile-header div > span > i {
    font-size: 16px;

    margin-left: 5px;

    color: #7a8691;
}

.profile-header div > span > i.fa-star {
    color: #ffa500;
}

.profile-header > .profile-primaryAction > button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;

    border: 0;
    border-radius: 2px;
}

.profile-header > .profile-primaryAction > button a {
    display: block;

    text-decoration: none;

    color: #fff;
}

.profile-header > .profile-primaryAction > button:last-child {
    margin-bottom: 0;
}

.profile-announcements h3 {
    font-size: 16px;

    margin: 0;
}

.profile-contentBlock h2 {
    font-size: 24px;

    margin: 0 0 15px;
}

.profile-ratings ul {
    margin: 0;

    list-style: none;
}

.profile-ratings ul > li {
    font-size: 16px;

    padding: 8px 0;
}

.profile-ratings ul > li > span > i {
    margin-left: 4px;

    color: #7a8691;
}

.profile-ratings ul > li > span > i.fa-star {
    color: #ffa500;
}

.profile-additionalInfo > div > div,
.profile-courses > div > div {
    padding: 8px 0;
}

.profile-additionalInfo > div > div > strong,
.profile-courses > div > div > strong,
.profile-additionalInfo > div > div > span,
.profile-courses > div > div > span {
    padding: 0;
}

.profile-onMap {
    position: relative;
}

.profile-onMap h3 {
    font-size: 18px;

    position: absolute;
    top: 12%;
    left: 3%;

    display: inline-block;

    margin: 0;
    padding: 6px 12px;

    color: #fff;
    border-radius: 4px;
    background: rgba(53, 68, 88, .8);
}

.profile-onMap img {
    width: 100%;
    height: auto;
}

.profile-seoMsg {
    margin: 40px 0;

    text-align: center;
}

.profile-seoMsg p {
    margin: 0;
}

.profile-reviewForm > div {
    padding: 20px 0;
}



.profile-reviewForm > div > figure > img {
    max-width: 100%;
    height: auto;
}

.profile-reviewForm > div > div > h3 {
    margin: 0 0 15px;
}

.profile-reviewForm > div > div > p {
    font-size: 18px;

    margin: 0 0 15px;
}

.profile-reviewForm > div > div > p > span > i{
    margin-right: 8px;
}

.profile-reviewForm > div > div > textarea {
    width: 100%;
    max-width: 100%;
    min-height: 80px;
    padding: 10px;

    border: 1px solid rgba(226, 226, 226, .6);
    border-radius: 2px;
    outline: 0;
}

.profile-reviewForm > div > div > button {
    padding: 10px 28px;

    border: 0;
    border-radius: 2px;
}

/* Edit Forms CSS */

.formCustom > div {
    padding: 15px;

    border-bottom: 1px solid rgba(228, 229, 230, .8);
}

.formCustom > div:last-child {
    border-bottom: 0;
}

.formCustom > div > h3 {
    margin: 20px 0 0;

    color: #6d7c90;
}

.formCustom > div > label {
    font-size: 12px;

    display: block;

    color: #6d7c90;
}

.formCustom > div > input[type='text'],
.formCustom > div > input[type='password'] {
    font-size: 16px;
    font-weight: bold;

    width: 100%;

    color: #337ab7;
    border: 0;
    background: transparent;
}

.formCustom > div > textarea {
    font-size: 16px;
    font-weight: bold;

    width: 100%;
    max-width: 100%;

    color: #337ab7;
    border: 0;
    background: transparent;
}

.formCustom > div > input[type='checkbox'] {
    margin: 0;
}

.formCustom > div > button {
    font-size: 16px;

    width: 100%;
    padding: 10px;

    border: 0;
}

.formCustom > div > button > a {
    display: block;

    text-decoration: none;

    color: #fff;
}

.formCustom > div > i {
    font-size: 20px;
    font-style: normal;

    display: inline-block;

    margin-right: 10px;
    padding-top: 2px;

    text-align: center;

    color: #7a8691;
}

.formCustom > div > i.fa-star {
    color: #ffa500;
}

/* Call Out */

.callOut {
    padding-top: 40px;
    padding-bottom: 40px;

    text-align: center;

    background: #336;
}

.callOut > h2 {
    margin: 0 0 30px;

    color: #fff;
}

.callOut > button {
    padding: 8px 16px;

    text-align: center;

    border: 0;
    border-radius: 2px;
}

.callOut > i {
    font-size: 32px;

    margin: 0 5px;

    cursor: pointer;

    color: rgba(255,255,255,.8);
}
/* Footer */

footer {
    padding-top: 40px;

    background: #1a1a3c;
}

footer > div > .footer-fidlooInfo {
    color: #c0c0db;
}

footer > div > .footer-fidlooInfo > h3 {
    margin: 0 0 15px;

    color: #e7e7f4;
}

footer > div > .footer-links > div > h4 {
    margin: 15px 0;

    color: #e7e7f4;
}

footer > div > .footer-links > div > ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

footer > div > .footer-links > div > ul > li {
    margin: 10px 0;
}

footer > div > .footer-links > div > ul > li > a {
    color: #c0c0db;
}

footer > div > .footer-subscribe > form > h3 {
    margin: 0 0 15px;

    color: #e7e7f4;
}

footer > div > .footer-subscribe > form > input[type=text] {
    width: 100%;
    padding: 8px;

    text-align: center;

    border: 0;
}

footer > div > .footer-subscribe > form > button {
    width: 100%;
    padding: 8px;

    color: #fff;
    border: 0;
    background: #0cc;
}

footer > div > .footer-subscribe > .footer-social > h3 {
    margin: 30px 0 15px;

    color: #e7e7f4;
}

footer > div > .footer-subscribe > .footer-social > ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

footer > div > .footer-subscribe > .footer-social > ul > li {
    display: inline-block;

    margin-right: 15px;
}

footer > div > .footer-subscribe > .footer-social > ul > li > a {
    font-size: 26px;

    display: inline-block;

    color: #c0c0db;
}

footer > .copyright {
    margin-top: 20px;
    padding: 20px 0;

    text-align: center;

    color: #62628b;
}
