.cursor_pointer
{
	cursor:pointer;
}

/* END Global classes */
.login_button {
background: #EBEBEB;
padding: 6px 10px;
font-size: 12px;
font-weight: bold;
color: #666;
border: 0;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}

.signup_button {
    background: url("../images/button_signup_orange.png") repeat-x scroll 0 0 #FFC400;
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    padding: 6px 10px;
}
.login_input_box
{
	width: 186px;
	height: 22px;
	border: 1px solid #ccc;
	color: #999;
	outline: 0;
	padding: 2px 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.body_background
{
	background: #f9f9f9 !important;
}

.login_input_box:focus
{
	border: 1px solid #999;
}

#outer
{
	width: 100%;
	height: 65px;
	background: #595C64;
}

#wrapper
{
	margin: 0 auto;
	width: 995px;
	min-height: 300px;
}

#header
{
  position: relative;
  width: 975px;
  height: 50px;
  padding: 10px;
}

#bv_logo
{
  position: absolute;
  top: 8px;
  left: 0;
}

#login_section
{
  position: absolute;
  top: 13px;
  right: 0;
}

#main-content
{
	position: relative;
	background: #f9f9f9;
	width: 995px;
	min-height: 450px;
	margin: 10px 0;
	color: #333333;
    font-family: lucida grande,tahoma,helvetica,arial,sans-serif;
    font-size: 12px;
}

#footer {
	position: relative;
	top: 10px;
	width: 995px;
	min-height: 22px;
	clear: both;
	background: #fff;
}

#outer_footer
{
	width: 100%;
}

#copyright {
	position: absolute;
	top: 5px;
	/*left: 10px;*/
	font-size: 11px;
	color: #666;
}

#footer_link {
	position: absolute;
	top: 5px;
	right: 0px;
	font-size: 11px;
	color:#999;
}

#footer_link ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer_link li {
	margin: 0;
	padding: 0;
	float: left;
}

a:link, a:visited {
    color: #336699;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
.link_no_underline a {
    color: #336699;
    text-decoration: none;
}

.Heading3 {
    color: #4F9C09;
    font-family: lucida grande,tahoma,helvetica,arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
}
/***********center content**************/
#about_bv
{
	float:left;
	width:673px;
	margin: 0 0 0 5px;
}

#mainbodycontent {
	font-family: lucida grande, tahoma, helvetica, arial, sans-serif;
	font-size: 12px;
	padding: 0;
	color: #333;
}

.text_area_form_width_300{
	width: 300px;
	max-width: 300px;
}

div.formRow label {
    display: block;
    left: 0;
    padding-left: 0;
    position: absolute;
    width: 140px;
}
div.fPasswordInputRow input, div.fTextInputRow input, select, textarea {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #999999;
    color: #666666;
}

/******************center content end********/