/**
    Name: global.css
    version - 1
**/

/* ------- Global CSS Coding ------- */

body {font-family: verdana, tahoma, helvetica, arial, sans-serif; font-size: 12px; color: #333; margin: 0; padding: 0; background: #f5f5f5 url(../images/body_background.jpg);}

/* ------- Colors Used ------- */

.dark_gray{
    color: #333;
}

.medium_gray{
    color: #666;
}

.light_gray{
    color: #999;
}

.blue{
    color: #176EFF;
}

.white{
    color: #fff;
}

.light_blue_background{
    background: #224B8F;
}

.light_orange_background{
    background: #EDBD6F;
}

.light_green_background{
    background: #8ac825;
}

.light_red_background{
    background: #F25252;
}

.light_gray_background{
    background: #f5f5f5;
}

.light_level_2_gray_background{
    background: #ddd;
}

/* ------- END Colors Used ------- */

/* ------- Font Size ------- */

.font_size_11{
    font-size: 11px;
}

.font_size_12{
    font-size: 12px;
}

.font_size_13{
    font-size: 13px;
}

.font_size_14{
    font-size: 14px;
}

.font_size_16{
    font-size: 16px;
}

.font_size_18{
    font-size: 18px;
}

.font_size_20{
    font-size: 20px;
}

.font_size_22{
    font-size: 22px;
}

.font_size_24{
    font-size: 24px;
}

.font_size_48{
    font-size: 48px;
}

/* ------- END Font Size ------- */

/* ------- Font Styes ------- */

.font_normal{
    font-weight: normal;
}

.font_bold{
    font-weight: bold;
}

.font_italic{
    font-style: italic;
}

.text_align_justify{
    text-align: justify;
}

/* ------- END Font Styles ------- */

/* ------- Links style ------- */

a:link, a:visited{
    color: #124191;
    text-decoration: none;
}

a:hover, a:active{
    text-decoration: underline;
}

.cursor_pointer{
    cursor: pointer;
}

.global_button{
    font-family: lucida grande, arial;
    background: #124191;
    padding: 4px 12px; 
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    outline: 0;
    border: 1px solid #0F3B87;
}

.global_button:hover{
    background: #224B8F;
    border: 1px solid #0F3B87;
    box-shadow: 0 1px 2px #999;
    -moz-box-shadow: 0 1px 2px #999;
    -webkit-box-shadow: 0 1px 2px #999;
}

.global_button_round{
    font-family: lucida grande, arial;
    background: #124191;
    padding: 4px 12px; 
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    outline: 0;
    border: 1px solid #0F3B87;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

.global_button_round:hover{
    background: #224B8F;
    border: 1px solid #0F3B87;
    box-shadow: 0 1px 2px #999;
    -moz-box-shadow: 0 1px 2px #999;
    -webkit-box-shadow: 0 1px 2px #999;
}

.global_button_nohover{
    font-family: lucida grande, arial;
    background: rgb(229,229,229); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(237,237,237,1) 51%, rgba(229,229,229,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(99%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(237,237,237,1) 51%,rgba(229,229,229,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(237,237,237,1) 51%,rgba(229,229,229,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(237,237,237,1) 51%,rgba(229,229,229,1) 99%); /* IE10+ */
    background: linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(237,237,237,1) 51%,rgba(229,229,229,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
    padding: 4px 12px; 
    font-size: 12px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    outline: 0;
    border: 1px solid #ccc;
    transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
}

.global_button_light{
    font-family: lucida grande, arial;
    background: rgb(229,229,229); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(237,237,237,1) 51%, rgba(229,229,229,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(99%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(237,237,237,1) 51%,rgba(229,229,229,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(237,237,237,1) 51%,rgba(229,229,229,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(237,237,237,1) 51%,rgba(229,229,229,1) 99%); /* IE10+ */
    background: linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(237,237,237,1) 51%,rgba(229,229,229,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
    padding: 4px 12px; 
    font-size: 12px;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    outline: 0;
    border: 1px solid #ccc;
    transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
}

.global_button_light:hover{
    color: #fff;
    background: #224B8F;
    border: 1px solid #0F3B87;
    box-shadow: 0 1px 3px #999;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
}

.global_textfield{
    color: #666;
    border: 1px solid #ddd;
    outline: 0;
    padding: 4px 5px;
    font-size: 14px;
}

.global_textfield:focus{
    color: #333;
    border: 1px solid #aaa;
    box-shadow: inset 0 0 5px #ccc;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
}

/* Text Field Width */

.global_textfield_width_960{
    width: 960px;
}

.global_textfield_width_580{
    width: 580px;
}

.global_textfield_width_238{
    width: 238px;
}

.global_textfield_width_172{
    width: 172px;
}

.global_textfield_width_80{
    width: 80px;
}

/* END Text Field Width */

.published_tag{
    font-size: 11px;
    color: #fff;
    background: #8ac825;
    padding: 2px 4px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.unpublished_tag{
    font-size: 11px;
    color: #fff;
    background: #E86161;
    padding: 2px 4px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/* ------- Layout ------- */

.nomargin_nopadding{
    margin: 0;
    padding: 0;
}

.border_bottom_dashed{
    border-bottom: 1px dashed #ccc;
}


.border_bottom_dashed_white{
    border-bottom: 1px dashed #fff;
}

.border_bottom_blue{
    border-bottom: 1px solid #124191;
}

.padding_5{
    padding: 5px;`
}

.padding_3{
    padding: 3px;
}

p{
    line-height: 150%;
    font-size: 14px;
}

/* Table Column Width */

.checkbox_column_width{
    width: 20px;
}

.id_column_width{
    width: 100px;
}

.content_column_width{
    width: 717px;
}

.date_column_width{
    width: 100px;
}

/* END Table Column Width */

.border_bottom{
    border-bottom: 1px solid #ebebeb;
}

.hidden { display: none; }
.unhidden { display: block; }

#wrapper{
    margin: 50px auto 0 auto;
    width: 1200px;
}

#header{
    position: relative;
    margin: 0 auto;
    width: 1200px;
    min-height: 40px;
}

#logo{
    position: absolute;
    top: 26px;
    left: 0;
    font-family: century gothic, lucida sans unicode, arial;
}

#header_menu{
    position: absolute;
    top: 26px;
    right: 0;
    font-family: century gothic, lucida sans unicode, arial;
}

/* Search Styles */

#advanced_search_wrapper{
    margin: 50px auto 0 auto;
    width: 1200px;
}

#advanced_search_block{
    float: left;
    width: 1190px;
    min-height: 50;
    margin: 5px 0;
    padding: 5px 0;
    background: #fff;
    border-left: 5px solid #ccc; 
    border-right: 5px solid #ccc; 
    box-shadow: 0 0 6px #ccc;
    -moz-box-shadow: 0 0 6px #ccc;
    -webit-box-shadow: 0 0 6px #ccc;
}

#advanced_search{
    background: #124191;
    color: #fff;
    margin: 5px 0 0 0;
    position: relative;
}

.advanced_search_filters{
    margin: 10px 0 0 0;
}

.search_bar{
    background: #124191;
    padding: 5px;
    text-align: center;
    margin: 20px 0 0 0;
}

.search_bar input{
    background: #fff url(../images/search.png) right no-repeat;
}

.search_bar input:focus{
    background: #fff url(../images/search_focus.png) right no-repeat;
}

/* END Search Styles */

#main_content{
    float: left;
    width: 1190px;
    min-height: 300px;
    margin: 10px 0;
    padding: 10px 0;
    background: #fff;
    border-left: 5px solid #ccc; 
    border-right: 5px solid #ccc; 
    box-shadow: 0 0 6px #ccc;
    -moz-box-shadow: 0 0 6px #ccc;
    -webit-box-shadow: 0 0 6px #ccc;
}

#left_column{
    float: left;
    width: 200px;
    min-height: 400px;
    background: rgba(0, 0, 0, 0.03) url(../images/main_content_bg.png);
    box-shadow: 1px 0 5px #999;
    -moz-box-shadow: 1px 0 5px #999;
    -webkit-box-shadow: 1px 0 5px #999;
}

#nav_list ul{
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
}

#nav_list li{
    padding: 8px;
    margin: 0;
    font-size: 14px;
    color: #666;
    background: #f5f5f;
    cursor: pointer;
    border-bottom: 1px solid #ebebeb;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    
}

#nav_list li:hover{
    color: #fff;
    background: #333 url(../images/nav_bg_dark.jpg);
    border-left: 4px solid #176EFF;
    border-bottom: 1px solid #444;
}

.current_selected{
    color: #fff !important;
    background: #444 url(../images/nav_bg.jpg);
    border-left: 4px solid #176EFF;
    border-bottom: 0 !important;
    box-shadow: inset 0 0 10px #000;
    -moz-box-shadow: inset 0 0 10px #000;
    -webkit-box-shadow: inset 0 0 10px #000;
}

#upload_content_area{
    float: left;
    width: 980px;
    min-height: 400px;
    margin-left: 10px;
}

.description{
    border-bottom: 1px solid #ddd;
    padding: 1px 10px;
    background: rgba(0, 0, 0, 0.03);
}

.error_content{
    border-left: 3px solid #E62929; 
    margin: 0 0 20px 0;
}

.error_content h1{
    margin: 0;
    padding: 4px 5px;
    /*background: #E62929;*/
    background: #ddd;
    font-size: 18px;
    font-weight: normal;
    color: #666;
}

.error_content p{
    margin: 0;
    font-size: 14px;
    color: #333;
}

.duplicate_content{
    border-left: 3px solid #ddd; 
    margin: 0 0 20px 0;
}

.duplicate_content h1{
    margin: 0;
    padding: 4px 5px;
    background: #ddd;
    font-size: 18px;
    font-weight: normal;
    color: #666;
}

.duplicate_content p{
    margin: 0;
    font-size: 14px;
    color: #333;
}

.service{
    float: left;
    margin: 10px 44px;
    width: 234px;
    border: 2px dashed #ebebeb;
    cursor: pointer;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    box-shadow: 0 0 5px #999;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
}

.service:hover{
    border: 2px dashed #ccc;
    box-shadow: 0 0 5px #333;
    -moz-box-shadow: 0 0 5px #333;
    -webkit-box-shadow: 0 0 5px #333;
}

.service_title h1{
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin: 0 0 5px 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.03);
    border-bottom: 1px dashed #ddd;
}

.service_image{
    box-shadow: inset 0 0 4px #999;
    -moz-box-shadow: inset 0 0 4px #999;
    -webkit-box-shadow: inset 0 0 4px #999;
    padding: 5px;
}

.service_image_width{
    width: 224px;
}

.content_validation_details{
    padding: 10px 5px;
}

.images_validation{
    margin: 10px 0 0 0;
    text-align: center;
}

.valid_content{
    border-left: 3px solid #76A823; 
    margin: 0 0 20px 0;
}

.upload_button_validation{
    float: right;
    padding: 5px 10px;
    margin: 40px 0 0 0;
    border-top: 1px solid #ddd;
    width: 98.4%;
    text-align: right;
    background: #f5f5f5;
}

.valid_content h1{
    margin: 0;
    padding: 4px 5px;
    /*background: #76A823;*/
    background: #ddd;
    font-size: 18px;
    font-weight: normal;
    color: #666;
}

.valid_content p{
    margin: 0;
    font-size: 14px;
    color: #333;
}

.expert_content_list{
    border-left: 3px solid #ddd; 
    margin: 0 0 20px 0;
}

.expert_content_list tr:hover{
    background: #f5f5f5;
    cursor: pointer;
}

.expert_content_list h1{
    margin: 0;
    padding: 4px 5px;
    /*background: #E62929;*/
    font-size: 18px;
    font-weight: normal;
}

.expert_content_list_inner{
    overflow-x: scroll;
}


/* File Upload Button */

.upload_button{
    position: relative;
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.03);
    text-align: center;
    min-height: 29px;
}

.upload_button_width{
    width: 110px;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
}

.upload_text{
    position: absolute;
    left: 62px;
    margin: 1px 0 8px 0;
    display: block;
    font-weight: bold;
    color: #666;
    font-family: arial, helvetica, sans-serif;
    font-family: helvetica, arial;
    font-size: 12px;
    font-weight: bold;
    padding:  4px 12px; 
    outline: 0;
    border: 1px solid #ccc;
    transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    background: rgb(229,229,229); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(237,237,237,1) 51%, rgba(229,229,229,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(99%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(237,237,237,1) 51%,rgba(229,229,229,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(237,237,237,1) 51%,rgba(229,229,229,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(237,237,237,1) 51%,rgba(229,229,229,1) 99%); /* IE10+ */
    background: linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(237,237,237,1) 51%,rgba(229,229,229,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */

}

.upload_text:hover{
    color: #fff !important;
    background: #224B8F;
    border: 1px solid #0F3B87;
    box-shadow: 0 1px 3px #999;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    
}

.file_upload_button{
    position: absolute;
    top: 5px;
    left: 62px;
    z-index: 1000;
    display: block;
    overflow: hidden;
    width:  112px;
}

/* END File Upload Button */

.whats_new_list ul{
    margin: 0;
    padding: 0;
}

.whats_new_list ol{
    margin: 8px;
    padding: 0;
}

#footer{
    margin: 10px auto;
    width: 1180px;
    min-height: 30px;
    clear: both;
    padding: 0 10px;
}